body {
  margin:0;
  background-color: #deeede;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: lighter;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 30px;
  color: #305252;
}

h2 {
  font-size: 23px;
  color: #70abaf;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  color: #70abaf;
}

#container {
  width: 50%;
  margin: 20px auto;
}

#header {
  width: 100%;
  background-color: #ff05;
  padding: 25px;
  align-items:
}

#button_blue {
  background-color: #70abaf;
  color: #FFF;
  padding:10px 30px;
  border-radius: 5px;
}

#button_blue:hover {
  background-color: #305252;
}

#logo_circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#main {
  display: flex;
}

#left {
  width: 30%;
  background-color: #0ff5;
  padding: 25px;
}

#right {
  width: 65%;
  background-color: #0f05;
  padding: 25px;
}
